@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .table-dense th, .table-dense td {
    @apply py-2 px-4;
  }
  .checkbox-custom {
    @apply h-4 w-4 rounded border-slate-300 text-brand-600 focus:ring-brand-500 transition duration-150 ease-in-out;
  }
}

:root {
  --primary-accent: #3b82f6;
}

body {
  @apply bg-slate-50 text-slate-800 font-sans;
}
